# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
frontend/node_modules/
backend/node_modules/
node_modules

# Environment files
.env
backend/.env
frontend/.env
.env*.local

# Expo
frontend/.expo/
backend/.expo/
frontend/dist/
frontend/web-build/

# Backend build
backend/dist/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
frontend/expo-env.d.ts

# Lock files
package-lock.json
frontend/package-lock.json
backend/package-lock.json

# Generated native folders
frontend/ios
frontend/android

# Logs
*.log

app-example